.about-wrap{
  display: flex;
  width: 76.9%;
  margin: 75px auto 0;

  .about-item-left{
    width: 45.3%;
    margin-right: 8%;
  }

  .about-item-right{
    width: 45.9%;
  }

  .about-title{
    font-size: 24px;
    color: #484848;
    font-weight: bold;
  }

  .about-text{
    font-size: 16px;
    line-height: 28px;
    color: #484848;
    margin-top: 30px;
  }

  .about-link{
          
  width: 54%;
  margin-top: 25px;
  font-size: 16px;
  color: #006c70;
  cursor: pointer;

}
  .about-link:hover{
  border-bottom: 1px solid #006c70;
}
}