.system-wrap{
  margin: 70px 19% 0 9.5%;
  display: flex;
  @include tab {
    flex-direction: column;
    width: 65.4%;
    margin: 70px auto 0;
  }
  @include sp {
    width: 93%;
    margin-top: 60px;
  }
}

.system-item_left{
  margin: 15px 11.9% 0 0;
  width: 46.7%;
  height: 255px;
  @include tab{
    height: auto;
    width: 100%;
  }

  .system-left_text{
    font-size: 16px ;
    line-height: 28px;
    color: #484848;
  }

  .system-left_link{
    width: 69%;
  margin-top: 25px;
  font-size: 16px;
  color: #006c70;
  cursor: pointer;
  }

  .system-left_link:hover{
  border-bottom: 1px solid #006c70;
}

}

.system-item_right{

  width: 46%;
    height: 240px;
    @include tab {
      width: 100%;
      height: auto;
      margin-top: 45px;
    }

  .system-right_wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }
      .right-item{
        font-size: 16px;
        color: #484848;
        margin-bottom: 30px;
      }

      .right-item:last-child{
        margin-bottom: 0;
      }
          .system-check{
            font-size: 18px;
            color: #006c70;
            margin-right: 20px;
          }
}

.system-img{
  width: 82%;
  height: 580px;
  margin:100px auto 0;
  background-image: url(../system-img.jpg);
  background-size: cover;
  @include tab{
    width: 65.4%;
    height: 410px;
  }
  @include sp{
    height: 670px;
    width: 93%;
  }
}
