.system-wrap{
  margin: 70px 19% 0 9.5%;
  display: flex;
}

.system-item_left{
  margin: 15px 11.9% 0 0;
  width: 46.7%;
  height: 255px;

  .system-left_text{
    font-size: 16px ;
    line-height: 28px;
    color: #484848;
  }

  .system-left_link{
    width: 69%;
  margin-top: 25px;
  font-size: 16px;
  color: #006c70;
  cursor: pointer;
  }

  .system-left_link:hover{
  border-bottom: 1px solid #006c70;
}

}

.system-right_wrap{
  width: 30.5%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}